@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url(https://cdn.rawgit.com/google/fonts/69d58573/apache/opensans/OpenSans-Regular.ttf);
}
body {
    margin: 0;
    background: #ededed;
    font-family: 'Open Sans'; 
}
.main {
    max-width: 40em;
    margin: 0 auto;
    padding-top: 8em;
    text-align: center;
}
.a1 {
    color: rgba(0,0,0,.7);
    text-decoration: none;
    transition: color 200ms;
}
.a1:hover {
    text-decoration: underline;
    color: rgba(0,0,0,1);
}
.a2 {
    text-decoration: none;
    color: rgba(0,0,0,.7);
    transition: color 200ms;
}
.a2:hover {
    color: rgba(0,0,0,1);
}